@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,300italic,400italic,500,500italic);

body {
    font-family: 'Roboto Slab', 'Georgia', 'Times New Roman', serif;
    margin: 25px 0;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    padding: 20px 20px;
}

header {
    position: relative;
    height: 110px;
}

header h1 {
    color: #169bbd;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header .claim {
    color: #169bbd;
    margin: 0px 20px;
}

header nav {
    position: absolute;
    bottom: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

article.blog-post p {
    line-height: 1.75;
}

h2 {
    margin: 0;
}

.meta {
    margin-top: 0;
}